/* 육각형 클래스 */
.hexagon {
  position: relative;
  margin: 1em auto;
  width: 3.33em;
  height: 5em;
  border-radius: 1em/.5em;
  background: rgb(206, 206, 206);
  transition: opacity .5s;
  z-index: -1;
  transform: rotate(30deg);       
  transition: all 0.5s;
}
.hexagon:before {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg); 
  z-index: -1;
}

.hexagon:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg); 
  z-index: -1;
}

/* 아이콘 이미지 크기 */
.module_icon{
  position: absolute;
  top: 12%;
  left: -4.5%;
  width: 60px;
  height: 60px;
  z-index: 1;
  transform: rotate(-30deg);
  transition: all 1s;
}
.icon_hover{
  transform: rotate( -360deg );
}

#m_1_hexagon {
  position: absolute;
  top: -125px;
  left: 20.35%;
  margin-left: -50px;
}

#module_1_dot {
  left: 18%;
  z-index: 2;
}

#m_2_hexagon {
  position: absolute;
  top: -125px;
  left: 40%;
  margin-left: -22px;
}

#module_2_dot {
  left: 40%;
}

#m_3_hexagon {
  position: absolute;
  top: -125px;
  left: 60%;
  margin-left: -22px;
}

#module_3_dot {
  left: 60%;
}

#m_4_hexagon {
  position: absolute;
  top: -125px;
  left: 82%;
  margin-left: -22px;
}


#module_4_dot {
  left: 82%;
}

#m_3_icon {
  top: 15%;
  left: 2%;
  width: 50px;
  height: 50px;
}

/* 2020 타임라인 호버 색상 */

.hexagon_hover_1{
  transform: rotate( 360deg );
  background: #ffeaa7;
  margin: 0px 100px;
}

.hexagon_hover_2{
  transform: rotate( 360deg );
  background: rgb(148, 185, 192);
  margin: 0px 100px;
}

.hexagon_hover_4{
  transform: rotate( 360deg );
  background: rgb(185, 134, 134);
  margin: 0px 100px;
}

.hexagon_hover_3{
  transform: rotate( 360deg );
  background: #BDC581;
  margin: 0px 100px;
}