body{
  all: unset;
  background-color: rgb(65, 65, 65);
}

/* 타임라인 */
#time_line_2020{
  position: relative;
  top: 350px;
  width: 1200px;
  margin: 0 auto;
  height: 5px;
  background-color: rgb(235, 235, 235); 
  z-index: -1;
}
#titleBox {
  margin: 0;
  width: 1200px;
  display: flex;
  flex-direction: row-reverse;
}

#roadmapTitle {
  font-family: 'NanumBarunpen';
  font-style: italic;
  font-weight: bold;
  margin-top: 25px;
  margin-right: 5px;
  color: white;
}